@{
    ViewData["Title"] = "ScaDispatchList View";
}
<div class="table">
    <table>
        <thead>
            <tr>
                <th> </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>