<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*Automatyczne odświeżanie strony co 300 sekund = 5 minut*@
    @*<meta http-equiv="refresh" content="300">*@
    <title>@ViewData["Title"] - ScaDispatchListTV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScaDispatchListTV.styles.css" asp-append-version="true" />
</head>
<body>    
    <div class="container mt-3 mb-3">        
            @RenderBody()        
    </div>        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
