body{
    font-family:sans-serif;
    display:flex;
    background:grey;
    align-items:center;
    justify-content:center;
    height:100vh;
    color:white;
}
.table{
    background:#fff;
    max-height:470px;
    box-shadow:0px 10px 50px 0px rgba(0,0,0,0.5);
}
table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
}